h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span 220201089-01 - Caracterizar el entorno ambiental, cumpliendo con estándares normativos nacionales.