h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('play', 'Introducción', 'main.html#page/introduccion/')
                    +navTemaItem('1', 'Ecología', 'main.html#page/Ecologia/')
                    +navTemaItem('2', 'Medio ambiente', 'main.html#page/Medio_ambiente/')
                    +navTemaItem('3', 'Plan de manejo ambiental (PMA)', 'main.html#page/Plan_de_manejo_ambiental/')
                    +navTemaItem('4', 'Indicadores ambientales', 'main.html#page/Indicadores_ambientales/')
                    +navTemaItem('5', 'Desarrollo sostenible', 'main.html#page/Desarrollo_sostenible/')
                    +navTemaItem('6', 'Guías ambientales', 'main.html#page/Guias_ambientales/')
                    +navTemaItem('7', 'Normativa ambiental', 'main.html#page/Normativa_ambiental/')