.container
    .header-ecored
        h1 5. Desarrollo sostenible
    .jumbotron.bg-white   
        img.img-a(src="assets/images/pages/ilustraciones/img48.png", alt="").img-fluid 
        .row.justify-content-center.align-items-center
            .col-8
                .jumbotron.caja-head
                    p El desarrollo sostenible se define como el desarrollo que satisface las necesidades actuales sin comprometer los recursos y posibilidades de las generaciones futuras. Por ejemplo, cuando se realiza la tala de árboles para la fabricación de camas, sillas, mesas, lápices, papel y demás, pero al mismo tiempo se asegura la repoblación de los bosques, es considerado desarrollo sostenible, porque se ha hecho uso del recurso natural existente para la satisfacción de las necesidades de la sociedad actual, y a su vez, se está garantizando, por medio de la repoblación, los árboles para las generaciones futuras.
        p.mt-3 La Organización de las Naciones Unidas (ONU), en su agenda para el desarrollo sostenible, lo define como: 
        p.mt-3 la capacidad de satisfacer las necesidades del presente sin comprometer la capacidad de las futuras generaciones para satisfacer sus propias necesidades. Así mismo indica que el desarrollo sostenible exige esfuerzos concentrados en construir un futuro inclusivo, sostenible y resiliente para las personas y el planeta.
        p.mt-3 Para alcanzar el desarrollo sostenible, es fundamental armonizar tres elementos básicos: el crecimiento económico, la inclusión social y la protección del medio ambiente. Estos elementos están interrelacionados y son todos esenciales para el bienestar de las personas y las sociedades. 
        p.mt-3 La erradicación de la pobreza en todas sus formas y dimensiones es una condición indispensable para lograr el desarrollo sostenible. A tal fin, debe promoverse un crecimiento económico sostenible, inclusivo y equitativo, que cree mayores oportunidades para todos, que reduzca las desigualdades, mejore los niveles de vida básicos, fomente el desarrollo social equitativo e inclusivo y promueva la ordenación integrada y sostenible de los recursos naturales y los ecosistemas (Naciones Unidas , 2015). 
        .sub-ecored#51.mt-5
            h2 5.1 Agenda 2030 Objetivos del Desarrollo Sostenible (ODS)
        img.img-a(src="assets/images/pages/ilustraciones/img49.svg", alt="").img-fluid 
        p.mt-3 Teniendo en cuenta las problemáticas mundiales en relación con la pobreza, la desigualdad, la contaminación, la injusticia y la violencia, los líderes de los diferentes países firmaron en el marco de la ONU, la Agenda 2030 Objetivos del Desarrollo Sostenible, un acuerdo entre los estados miembros de las Naciones Unidas que tiene vigencia hasta el 2030, el cual busca luchar contra la pobreza, cuidar el planeta y disminuir las desigualdades sociales.
        .sub-ecored#52.mt-5
            h2 5.2 Componentes fundamentales   
        p.mt-5 Las acciones que se ejecutarán para el cumplimiento de las metas y los objetivos en los próximos años se centran en:
        img.img-a(src="assets/images/pages/ilustraciones/img50.svg", alt="").img-fluid  
        .sub-ecored#53.mt-5
            h2 5.3.	Objetivos de Desarrollo Sostenible 
        p.mt-5 En la Agenda 2030 Objetivos del Desarrollo Sostenible de la ONU, se contemplan 17objetivos, los cuales deben cumplirse en todos los países miembros del organización. 
        p.mt-3 Estos objetivos son el plan maestro para conseguir un futuro sostenible para todos. Se interrelacionan entre sí e incorporan los desafíos globales a los que nos enfrentamos día a día, como la pobreza, la desigualdad, el clima, la degradación ambiental, la prosperidad, la paz y la justicia. Los objetivos son: 
        ul.ul2
            li
                p #[strong Objetivo 1.] Poner fin a la pobreza en todas sus formas en todo el mundo.
            li
                p #[strong Objetivo 2.] Poner fin al hambre, lograr la seguridad alimentaria y la mejora de la nutrición y promover la agricultura sostenible.
            li
                p #[strong Objetivo 3.] Garantizar una vida sana y promover el bienestar para todos en todas las edades. 
            li
                p #[strong Objetivo 4.] Garantizar una educación inclusiva, equitativa y de calidad y promover oportunidades de aprendizaje durante toda la vida para todos. 
            li
                p #[strong Objetivo 5.] Lograr la igualdad entre los géneros y empoderar a todas la mujeres y niñas.
            li
                p #[strong Objetivo 6.] Garantizar la disponibilidad de agua y su gestión sostenible y el saneamiento para todos. 
            li
                p #[strong Objetivo 7.] Garantizar el acceso a una energía asequible, segura, sostenible y moderna.
            li
                p #[strong Objetivo 8.] Promover el crecimiento económico inclusivo y sostenible, el empleo y el trabajo decente para todos.
            li
                p #[strong Objetivo 9.] Construir infraestructuras resilientes, promover la industrialización sostenible y fomentar la innovación.
            li
                p #[strong Objetivo 10.] Reducir la desigualdad en y entre los países.
            li
                p #[strong Objetivo 11.] Lograr que las ciudades sean más inclusivas, seguras, resilientes y sostenibles.
            li
                p #[strong Objetivo 12.] Garantizar modalidades de consumo y producción sostenibles.
            li
                p #[strong Objetivo 13.] Adoptar medidas urgentes para combatir el cambio climático y sus efectos.
            li
                p #[strong Objetivo 14.] Conservar y utilizar sosteniblemente los océanos, los mares y los recursos marinos. 
            li
                p #[strong Objetivo 15.] Gestionar sosteniblemente los bosques, luchar contra la desertificación, detener e invertir la degradación de las tierras, detener la pérdida de biodiversidad.
            li
                p #[strong Objetivo 16.] Promover sociedades justas, pacíficas e inclusivas. 
            li
                p #[strong Objetivo 17.] Revitalizar la Alianza Mundial para el Desarrollo Sostenible.
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img51.svg", alt="").img-fluid 
        p Para conocer la importancia de cada uno de los objetivos, puede consultar el material complementario: Importancia de los objetivos de desarrollo sostenible.
        a(href="https://youtu.be/QmDctvoX0i4" target="_blank").media-link.color-8      
            img(src="assets/images/pages/ilustraciones/www1.svg", alt="").media-link-icon
            .media-link-title
                p #[strong Video objetivos de desarrollo sostenible]. 
                h4 https://youtu.be/QmDctvoX0i4