.container
    .header-ecored
        h1 6. Guías ambientales
    .jumbotron.bg-white   
        img.img-a(src="assets/images/pages/ilustraciones/img52.png", alt="").img-fluid 
        .row.justify-content-center.align-items-center
            .col-8
                .jumbotron.caja-head
                    p Las guías ambientales son instrumentos técnicos en donde se consolidan esquemas para el mejoramiento de la gestión, manejo y desempeño ambiental de los sectores productivos. Así mismo, se consideran mecanismos de autogestión, de consulta y de referencia de carácter conceptual y metodológico para las autoridades ambientales, así como para la ejecución o desarrollo de proyectos, obras o actividades.
        .sub-ecored#61.mt-5
            h2 6.1.	Objetivos
        img.img-a(src="assets/images/pages/ilustraciones/img53.svg", alt="").img-fluid
        .row.justify-content-center.align-items-center
            .col-3
                p.mr-5 Conocer los requisitos establecidos en la legislación ambiental, así como establecer reglas claras para mejorar el desempeño ambiental.
            .col-3
                p Orientar la implementación de medidas de producción más limpia; así como la elaboración de planes de manejo ambiental y mejor aprovechamiento de los recursos naturales.
            .col-3
                p.ml-5 Lograr en el corto, mediano y largo plazo la sostenibilidad, competitividad y productividad que permitan mejorar las relaciones con el entorno natural. 
        .sub-ecored#62.mt-5
            h2 6.2.	Medidas de manejo ambiental   
        img.img-a(src="assets/images/pages/ilustraciones/img54.svg", alt="").img-fluid  
        p.mt-3 Se describen a continuación las diferentes medidas de manejo ambiental.
        ul.ul2.mt-5
            li
                p #[strong Medidas de prevención:] son obras o actividades encaminadas a prevenir y controlar los posibles impactos y efectos negativos que pueda generar un proyecto, obra o actividad sobre el entorno humano y natural.
            li
                p #[strong Medidas de mitigación:] son obras o actividades dirigidas a atenuar y minimizar los impactos y efectos negativos de un proyecto, obra o actividad sobre el entorno humano o natural.
            li
                p #[strong Medidas de corrección:] son obras o actividades dirigidas a recuperar, restaurar o reparar las condiciones del medio ambiente afectado.
            li
                p #[strong Medidas de compensación:] son obras o actividades tendientes a resarcir y retribuir a las comunidades, las regiones o localidades por los impactos o efectos negativos que no puedan evitarse, corregidos o satisfactoriamente mitigados.
