.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p
            strong.mr-2 Desarrollo sostenible:
            | capacidad de satisfacer las necesidades del presente sin comprometer la capacidad de las futuras generaciones para satisfacer sus propias necesidades.
        p
            strong.mr-2 Ecología:
            |  el conjunto de conocimientos referentes a la economía de la naturaleza, la investigación de todas las relaciones del animal, tanto con su medio inorgánico como orgánico, incluyendo sobre todo su relación amistosa y hostil con aquellos animales y plantas con los que se relaciona directa o indirectamente.
        p
            strong.mr-2 Factores abióticos:
            |  son los distintos componentes que determinan el espacio físico en el cual habitan los seres vivos; entre los más importantes podemos encontrar: el agua, la temperatura, la luz, el pH, el suelo, la humedad, el aire (sin el cual muchos seres vivos no podrían vivir) y los nutrientes.
        p
            strong.mr-2 Factores bióticos:
            |  son todos los seres vivos y su interacción entre ellos.
        p
            strong.mr-2 Indicador ambiental:
            |  es un parámetro o valor derivado de parámetros, que proporciona información para describir el estado de un fenómeno, ambiente o área, con un significado que va más allá del directamente asociado con el valor del parámetro en sí mismo.
        p
            strong.mr-2 Medio ambiente:
            |  sistema que abarca todas las relaciones entre los seres vivos y no vivos que interactúan naturalmente.
        p
            strong.mr-2 Plan de Manejo Ambiental (PMA):
            |  conjunto detallado de actividades, que producto de una evaluación ambiental, están orientadas a prevenir, mitigar, corregir o compensar los impactos y efectos ambientales que se causen por el desarrollo de un proyecto, obra o actividad. Incluye los planes de seguimiento, monitoreo, contingencia y abandono, según la naturaleza del proyecto, obra o actividad.