.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Autor, (año del documento o material),  Nombre del documento o material.
                    th.text-center Tipo de material ( Video, capítulo de libro, articulo, otro) 
                    th.text-center(style="width:150px") Enlace del Recurso o Archivo del documento o material

            tbody

            
                tr
                    td Naciones Unidas. (2015). Importancia de los Objetivos de Desarrollo Sostenible.
                    td PDF 
                    td 
                        a(href="media/documentos/Importancia_Objetivos_Desarrollo_Sostenible.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar   
                tr
                    td UNESCO. (2017). Los Objetivos de Desarrollo Sostenible - qué son y cómo alcanzarlos.
                    td Vídeo YouTube
                    td 
                        a(href="https://youtu.be/MCKH5xk8X-g", target="_blank") <span class="fa fa-play" aria-hidden="true"></span> Ver